.card {
  background-color: rgb(161, 189, 196);
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.1);
  margin: 5px;
  font-size: small;
  width: 25vw;
  height: 9vw;
  display: flex;
  justify-content: space-around;
}
