.App-header {
  position: static;
  width: 100%;
  /* background-color: #00515C; */
  background: linear-gradient(to bottom, #092A3A, #0B5C73);

  height: 54px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  justify-content: flex-start;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25px;
  padding: 9px;
}
.App-title {
  font-size: large;
  padding: 10px;
}

.create-card{
justify-content: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
